#navbar-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  place-items: center;
  margin-bottom: 2rem;
}
.all-friends-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
.profileandname {
  display: grid;
  grid-template-columns: 5rem 50%;
  margin-bottom: 1rem;
}
.profilephoto {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}
.friendname {
  margin-top: 1rem;
  margin-left: 1rem;
}
